body {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.input {
    width: 180px;
}

.prompt-box {
    width: 182px;
    border: 1px solid #ccc;
}

.current {
    background: #bbb;
}
