.container {
    position: absolute;
    margin-left: 150px;
    width: 650px;
}

.left-box,
.right-box {
    position: relative;
    width: 200px;
    height: 450px;
    border: 2px solid #000;
}

.left-box {
    float: left;
}

.right-box {
    float: right;
}

.draggable {
    position: relative;
    width: 198px;
    height: 55px;
    border: 1px solid #fff;
    text-align: center;
    /*20px relative to default font-size 16px*/
    font-size: 125%;
    /*55px  relative to font-size 20px*/
    line-height: 2.75;
    background: #d80062;
    cursor: move;
}

.dragged {
    z-index: 999;
}
