body {
    background: #eee;
}

#contentContainer {
    width: 600px;
    height: 360px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    border: 2px solid #ccc;
}

#wrapper {
    width: 2400px;
    /*relative to its parent position !!!*/
    transform: translate3d(0, 0, 0);
}

.image-div { 
    float: left;
    white-space: normal;
    font-size: 0;
}
