* {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 980px;
    background: #eee;
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background: #522a5c;
}

.header-wrap {
    position: relative;
    width: 980px;
    height: 80px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
}

.nav {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.nav ul {
    float: right;
}

.nav li {
    float: left;
    margin-left: 28px;
    font: 14px SimSun, sans-serif;
}

.nav li :hover {
    text-decoration: underline;
    color: #c76a76;
}

.icon-github {
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media(max-width: 980px) {
    .icon-github  {
        display: none;
    }
}

.wrapper {
    width: 980px;
    height: 1400px;
    margin: 100px auto 30px;
}

.title {
    float: left;
    width: 488px;
    height: 1300px;
    background: #fff;
}

.details {
    float: right;
    width: 488px;
    height: 1300px;
    background-color: #fff;
}

.info {
    position: relative;
    margin: 0 130px 180px 50px;
}


.info-name {
    margin-top: 100px;
}

.img-big {
    position: absolute;
    width: 160px;
    height: 160px;
    left: -138px;
    top: -170px;
    border: 6px solid #eee;
    border-radius: 50%;
}

.img-small {
    position: absolute;
    left: -106px;
    top: -120px;
    width: 100px;
    height: 100px;
    border: 4px solid #eee;
    border-radius: 50%;
}

.info h1 {
    position: absolute;
    left: -200px;
    font-size: 20px;
}

.info p {
    font-size: 14px;
    line-height: 2;
}

.item {
    position: relative;
    margin-bottom: 30px;
}

.info-time {
    position: absolute;
    left: -84px;
    width: 60px;
    border: 4px solid #eee;
    border-radius: 10px;
    text-align: center;
    color: #888;
    background: #fff;
}

.footer {
    color: #fff;
    background: #000;
}

.footer hr {
    border: 1px solid #aaa;
}

.footer-nav ul{
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.footer-nav li {
    display: inline;
    margin: 0 12px;
    font: 14px SimSun, sans-serif;
}

.footer-nav li :hover {
    text-decoration: underline;
    color: #c76a76;
}

.link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center ;
            justify-content: center;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}

.link-item {
    -webkit-flex: 1;
            flex: 1;
}

.link-title {
    margin: 30px 0;
    font-size: 15px;
}

.link ul {
    line-height: 1.5;
}

.link li {
    font: 14px SimSun, sans-serif;
}

.link li :hover {
    text-decoration: underline;
    color: #c76a76;
}

.copyright {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.copyright p {
    margin-bottom: 15px;
    font-size: 13px;
}
