* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Microsoft Yahei, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    min-width: 680px;
    min-height: 400px;
}

html, body {
    height: 100%;
}

.header {
    position: relative;
    width: 100%;
    height: 70px;
    background: #aaa;
}

h1 {
    margin-left: 2%;
    line-height: 70px;
    color: #888;
}

.category {
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 250px;
    border-right: 2px solid #aaa;
    line-height: 1.8;
    background: #ddd;
}


#all-tasks {
    padding-left: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.list-title {
    margin: 8px 0;
    padding-left: 18px;
}

.folder {
    padding-left: 18px;
    cursor: pointer;
}

.file {
    padding-left: 36px;
    cursor: pointer;
}

.category .selected {
    background: #fff;
}

.no-default {
    position: relative;
}

.del {
    visibility: hidden;
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
}

#all-tasks:hover,
.folder:hover,
.file:hover{
    background: #fff;
}

.no-default:hover .del {
    visibility: visible;
}

.category .add {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 248px;
}

.add {
    height: 50px;
    border: none;
    font-size: 16px;
    outline: none;
    background: #ccc;
    cursor: pointer;
}

.add:hover {
    background: #d8e5ff;
    transition: 0.3s ease;
}

.task-name {
    position: absolute;
    top: 70px;
    left: 250px;
    bottom: 0;
    width: 250px;
    background: #eee;
}

.filter-wrap {
    width: 250px;
    height: 50px;
    border-bottom: 2px dashed #eee;
    text-align: center;
    background: #fff;
}

.filter {
    width: 55px;
    height: 30px;
    margin: 0 5px;
    margin-top: 10px;
    border: none;
    outline: none;
    background: #ccc;
    cursor: pointer;

}

.filter:hover {
    color: #fff;
    transition: 0.3s ease;
}

.task-name .selected {
    color: #fff;
}

.task-list .selected {
    background: #fff;
}

.task-self {
    cursor: pointer;
}

.task-name .add {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
}

.description {
    position: absolute;
    top: 70px;
    left: 500px;
    right: 0;
    bottom: 0;
}

.title {
    height: 60px;
    /*padding-left: 20px;*/
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    background: #ccc;
}

.todo-name {
    float: left;
    padding-left: 20px;
    font-size: 20px;
}

.operation {
    float: right;
    padding-right: 20px;
}

#check-icon,
#edit-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    cursor: pointer;
}

.date {
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    background: #ddd;
}

.content {
    position: absolute;
    top: 120px;
    bottom: 60px;
    left: 20px;
    right: 20px;
    line-height: 2;
    /*background: #ffceb2;*/
}

.input-title {
    width: 240px;
    padding: 5px;
}

.input-date {
    padding: 5px;
}

.text-content {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
    resize: none;
}


.button-area {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.button-area button {
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.save,
.cancel {
    background: #ffceb2;
    color: #fff;
}

.cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 90;
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 180px;
    margin-top: -150px;
    margin-left: -90px;
    font-size: 14px;
    background: #eee;
    z-index: 100;
}

.pop-head {
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px dashed #aaa;
    line-height: 40px;
}

.pop-body {
    height: 100px;
    padding: 10px 10px;
}

.pop-body input {
    margin-top: 20px;
}

.pop-foot {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.pop-foot button {
    width: 40px;
    height: 30px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}
